<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="CrossbrowserTest">
<test name="ChromeBrowser">
<parameter name="browser" value="chrome" />
	<classes>
		<class name="Runner.TestRunnerCrossBrowserTesting"></class>
	</classes>
</test> 
<test name="FirefoxBrowser">
<parameter name="browser" value="firefox" />
	<classes>
		<class name="Runner.TestRunnerCrossBrowserTesting"></class>
	</classes>
</test> 
<test name="EdgeBrowser">
<parameter name="browser" value="edge" />
	<classes>
		<class name="Runner.TestRunnerCrossBrowserTesting"></class>
	</classes>
</test> 
</suite>